 /*Шрифты*/
 @font-face {
  font-family:Myriad; /* Имя шрифта */
  src: url(font/MyriadProBlackSemiExtended.ttf) format('truetype'); /* Путь к файлу со шрифтом */
  font-weight: normal;

font-style: normal;
 }
@font-face {
  font-family:CoreRhino45Regular; /* Имя шрифта */
  src: url(font/CoreRhino45Regular.otf) format("opentype"); /* Путь к файлу со шрифтом */
  font-weight: normal;

font-style: normal;
 }
 @font-face {
  font-family:Coreriho65bold; /* Имя шрифта */
  src: url(font/Coreriho65bold.ttf) format("truetype"); /* Путь к файлу со шрифтом */
  font-weight: normal;

font-style: normal;
 }
 @font-face {
  font-family:NautilusPompilius; /* Имя шрифта */
  src: url(font/NautilusPompilius.otf) format("opentype"); /* Путь к файлу со шрифтом */
  font-weight: normal;

font-style: normal;
 }
    @font-face {
  font-family:CoreRhino35Light; /* Имя шрифта */
  src: url(font/CoreRhino35Light.otf) format("opentype"); /* Путь к файлу со шрифтом */
  font-weight: normal;

font-style: normal;
 }

@font-face {
  font-family:MyriadPro-Bold; /* Имя шрифта */
  src: url(font/MyriadPro-Bold.otf) format("opentype"); /* Путь к файлу со шрифтом */
  font-weight: normal;
font-style: normal;
 }
 @font-face {
  font-family:MyriadPro-Regular; /* Имя шрифта */
  src: url(font/MyriadPro-Regular.otf) format("opentype"); /* Путь к файлу со шрифтом */
  font-weight: normal;
font-style: normal;
 }
  @font-face {
  font-family:Segoe_ui_bold; /* Имя шрифта */
  src: url(font/Segoe_ui_bold.ttf) format("truetype"); /* Путь к файлу со шрифтом */
  font-weight: normal;
font-style: normal;
 }
  @font-face {
  font-family:MyriadPro-Semibold; /* Имя шрифта */
  src: url(font/MyriadPro-Semibold.otf) format("opentype"); /* Путь к файлу со шрифтом */
  font-weight: normal;
font-style: normal;
 }

@font-face {
font-family:Roboto_Regular; /* Имя шрифта */
src: url(../font/Roboto_Regular.ttf) format("opentype"); /* Путь к файлу со шрифтом */
font-weight: normal;
font-style: normal;
}

  body
{
	background: url(img/head.jpg) repeat;
	background-size: 200px;
	background-clip: padding-box;
	background-position: center;
}
#header {
    background: url(../img/head.jpg);
    font-size: 16px;
    line-height: 25px;
    color: #363636;
    font-family: 'Museo Sans 900';
    padding-bottom: 30px;
    padding-top: 15px;
  }
  .logo {
    font-family: NautilusPompilius;
    font-size: 60px;
    color: #864729;
    margin-bottom: 0px;
    margin: 25px;
  }
.topnav ul {
    width: 100%;
  }
  .topnav ul li {
    float: none;
    display: inline-block;
  }
  .topnav ul a {
    text-decoration: none;
    font-weight: bold;
    color: #350202;
    font-size: 14px;
    text-transform: uppercase;
    padding: 15px 35px;
  }
  /* Стили для information блока  */
  .logo-text
  {
    margin-top: 10px;
    font-family: CoreRhino45Regular;
    color: #864729;
    font-size: 20px;
    text-align: center;
  }
  
  .phone
  {
  font-family: CoreRhino35Light;
  font-size: 18px;
  color: #864729;
  margin-bottom: 0px;
  }
  
  .phone-wrap
  {
    align-items:center;
    padding-top: 25px;
  }
  
  .phone:first-child:before
  {
    content: url(img/phone.jpg);
    position: absolute;
    width: 10px;
    height: 21px;
    
    transform: translateX(-25px);
  
  }
  .adres
  {
  font-family: CoreRhino35Light;
  font-size: 14px;
  color: #864729;
  margin-bottom: 0px;	
  }
  
  .adres:before
  {
    content: url(img/map.jpg);
    position: absolute;
    width: 10px;
    height: 21px;
    
    transform: translateX(-25px);
  
  }
  .adres-wrap
  {
    align-items:center;
    padding-top: 25px;
  }
  
  
  .sidebar{
    position: relative;
    background: url(ussr/menu.png);

  }
    .titl_m
    {
      font-family: MyriadPro-Bold;
      font-size: 20px;
      margin-top: 30px;
      text-transform: uppercase;
      padding-left: 15px;
    }
    #sidebar-menu
    
      {
        padding: 0;
        font-size: 18px;
        font-family: MyriadPro-Regular;
        line-height: 2;
        font-weight: 50;
        
          }
        
        #sidebar-menu li
        {
          list-style: none;
        }
        #sidebar-menu a:hover
        {
          background: linear-gradient(90deg,#874a31,#af795e);
          color:#ffffff;
          display: block;
          border-radius: 10px;
        }
        .menu-active a
        {
          font-family: Segoe_ui_bold;
          background: linear-gradient(90deg,#874a31,#af795e);
          color:#ffffff;
          display: block;
          border-radius: 10px;  
        }
        .menush a
        {
          color: #864729;
        }
        .menu-active a, .menu-active a:hover, .menu-active a:link
        {
          color:#ffffff;
        }
        .sab-menu 
        {
        padding-left: 30px;
        }
        .sab-menu a
        {
          color: #864729;
          background: none;
          font-family: MyriadPro-Regular;
          font-size: 15px;
              padding: 0;
        }
        .sab-menu li.active a
        {
        background: none;
        font-family: MyriadPro-Bold;
        border-bottom: 1px #864729 solid;
        display: inline-block;
        font-size: 15px;
        border-radius: 0px;
        }
        .sab-menu li a:hover
        {
        background: none;
        
        border-bottom: 1px #864729 solid;
        display: inline-block;
        border-radius: 0px;
        }
        .sab-menu a, .sab-menu a:hover, .sab-menu a:link
        {
          color:#864729;
        
        }
        .breadcrumbs-list
        {
        list-style: none;
        font-style: MyriadPro-Semibold;
        font-size: 14px;
        color:#864729;
        padding: 0px;
        }
        .breadcrumbs-list li a, .breadcrumbs-list li a:hover, .breadcrumbs-list li a:link
        {
          color:#864729;
          text-decoration: none;
        
        }
        .breadcrumbs-list li
        {
        display: inline-block;
        }
        .breadcrumbs-list li:first-child
        {
        margin-left: 0px;
        margin-right: 15px;
        }
        .breadcrumbs-list li
        {
        margin-left: 15px;
        margin-right: 15px;
        }
        
        .breadcrumbs-list li a.active
        {
        font-weight: 700;
        }
        .breadcrumbs-list li+li:before
        {
          content: "/";
         position: absolute;
         transform: translateX(-15px);
         }
         #content h1 {
          color:#864729;
          font-family: Coreriho65bold;
          font-size: 35px;
         }
         .content_inner {
            font-family: MyriadPro-Regular;
            font-size: 14px;
          }
          .content
          {
            
    margin-top: 35px;

          }

          .menu-wrap
          {
            background-color: #f5f5f5;
            height: 570px;
	          margin-top: 40px;
	
	         color: #864729;
	         box-shadow: 5px 8px 10px 0px rgba(0, 0, 0, 0.08);
	         padding: 0px;
          }

          .white-back
          {
            background-color:white;
            padding-bottom: 100px;
          }
         
          footer
          {
            min-height: 110px;
            width: 100%;
          background-image: linear-gradient(-90deg,#864729,#8b4d2f);
          
          
          }
          .footer-menu 
          {
          list-style: none;
          padding: 0;
          margin-bottom:10px;
          margin-top: 30px;
          
          
          }
          .footer-menu li
          {
          display: inline-block;
          
          }
          .footer-menu li a
          {
            font-family: MyriadPro-Regular;
          font-size: 14px;
          color:#fff;
          }
          .footer-menu li a:link,.footer-menu li a:target,.footer-menu a:hover
          {
          color:#fff;
          text-decoration: none;
          
          }
          .footer-menu  li:first-child
          {
          margin-left: 0px;
          margin-right: 10px;
          }
          .footer-menu  li
          {
          margin-left: 10px;
          margin-right: 10px;
          }
          .footer-menu li+li:before
          {
          
          content: "|";
          color:#fff;
          font-family: MyriadPro-Regular;
          position: absolute;
          transform: translateX(-15px);
          }
          .footer-menu-text
          {
          font-size: 14px;
          color:#fff;
          font-family: MyriadPro-Regular;
          }
          .footer-logo
          {
            content: url(img/logo.png);
            transform: translateX(100%);
            margin-bottom: 10px;
          
          }
          
          .footer-text
          {
            font-family: Roboto_Regular;
            font-size: 12px;
            color:#fff;
            float:right;
          }
          .footer-logo-wrap
          {
            margin-top: 20px;
          
          }
          .uppercase
          {
            text-transform: uppercase;
          }

@media  (max-width:1150px)
{
  .logo {
   
    font-size: 40px;
   
}
.footer-logo {
  transform: translateX(250%);
}
.footer-text{
  margin-right: -70px;
}

}

@media  (max-width:800px)
{
  .logo {
   
    font-size: 50px;
    text-align: center;
   
}
.logo-text {
  
  font-size: 15px;
  
}
.phone-wrap{
  text-align: center;
}
.adres-wrap{
text-align: center; 
}
.footer-menu-wrap
{
text-align: center;
}
.footer-text{
  margin-right: 290px;
}

}
@media  (max-width:450px)
{
  .phone-wrap{
    text-align: center;
  }
.adres-wrap{
  text-align: center; 
}
.footer-menu-wrap
{
text-align: center;
}
.footer-logo {
  transform: translateX(90%);
}
.footer-text{
  margin-right: 120px;
}
}
@media  (max-width:350px)
{
  .logo {
   
    font-size: 35px;
  }
  .footer-logo {
    transform: translateX(70%);
  }
  .footer-text{
    margin-right: 50px;
  }  
}